<div class="hero-unit">
    <h1>Roast Or Rant</h1>
    <p>{{name}}
    </p>

    <div>
        {{stars}}
    </div>    
    <div>
        {{mystars}}

    </div>
    <p class="muted">
        You are viewing this application on
        {{#if mobile}}
        {{!"mobile" key in i18n file}}
        <strong>{{$ mobile}}</strong>
        {{else}}
        {{!"desktop" key in i18n file}}
        <strong>{{$ desktop}}</strong>
        {{/if}}.
    </p>
    <p>Part of the <a href="https:github.com/BoilerplateMVC/">BoilerplateMVC suite</a>.</p>
    <p>{{yeller "Marionette is great"}}</p>
</div>